@charset "utf-8";
/* CSS Document */

.LIST_bg{
	background:  url(/images/bandrooms/LIST_bg.png);
    float: left;
	background-repeat: no-repeat;

}


.main_list {
	float: left;
	margin-top: 1%
}

.listimg{
    height:90px;
    width:120px;
}

.title_home {
	background-image: url(/images/bandrooms/title_bg.png);
	text-align: left;
	background-repeat: no-repeat;
	float: left;
	margin-top: 2%
}
.title_bg {
	float: left;
}
.title{
	padding-left: 145px;
	padding-top: 3px;
}

.lil_member{
	float: left;
	align: right;
	margin-top: 1%
}

.blank{
   margin-left: 100px;	
}

.LIST_bg{
	padding-top: 2.2%;
	padding-bottom: 4.5%;
	padding-left: 24px;
	padding-right: 24px;
	 
}

.LIST_content{
	padding-right: 100px;
    font-size: 13px;
}

.LIST{
	margin-left: 17.5%;
	margin-right: 17.5%;
	margin-top: 6%
}

body   {
	background-image: url(/images/bandrooms/BG_all.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f0d100;
}

p{
    color: darkblue;	
	
}
